/* body 基本スタイル */
body {
	margin: 0;
	padding: 0 0 0 0;
	font-size: 12px;
	font-family: 'Meiryo','メイリオ', sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
}

/* 罫線（斜線） */
.hr_slash {
	height: 5px;
	background-size: 5px 5px;
	border: none;
}

/* フォントサイズ大 */
.font_large_cls {
	font-size: 16px !important;
}

/* フォントサイズ中 */
.font_medium_cls {
	font-size: 14px !important;
}

/* フォントサイズ小 */
.font_small_cls {
	font-size: 12px !important;
}


/* ヘッダ */
/* ヘッダ枠 */
#header_div {
	min-width: 1000px;
	width: 100%;
	height: 72px;
	position: fixed;
	z-index: 999;
	top: 0;
}

#header_table {
	width: 100%;
	height: 100%;
}

#header_block {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
	min-width: 200px;
}

/* タイトル */
#ppi_title {
	text-shadow: 4px 3px 4px black;
	font-size: 24px;
	font-weight: normal;
}

/* タイトルサブ */
#ppi_sub {
	text-shadow: 4px 3px 4px black;
	font-size: 8pt;
	line-height: 12px;
}

/* サポートボタン枠（視覚支援・ヘルプ・問合せ） */
#support_frm {
	padding: 2px 0;
	text-align: right;
	vertical-align: top;
}

.support_btn {
	display: inline-block;
	vertical-align: middle;
}

.size_color_btn {
	width: 25px;
	height: 100%;
	border: solid 1px gray;
	text-align: center;
	background-color: white;
	font-size: 16px;
	color: black;
}

#q_icon {
	display: inline-block;
	color: #039;
	background: white;
	border-radius: 50%;
	font-size: 9px;
	width: 14px;
	height: 14px;
	text-align: center;
}

.size_selected {
	border: solid 2px white;
	background: cadetblue;
	color: white;
	font-weight: bold;
}

.color_selected {
	border: solid 2px coral;
	font-weight: bold;
}

.color_w_b {
	background-color: black;
	color: white;
}

.color_bl_y {
	background-color: #327EC4;
	color: yellow;
}

#support_frm > a {
	font-size: 16px;
}

/* 地方ボタン */
.button_cls {
	display: inline-block;
	width: 79px;
	height: 21px;
	float: left;
	padding-top: 2px;
	border: 1px solid red;
	border-color: aliceblue black black lightsteelblue;
	text-align: center;
	font-weight: bold;
}

/* 地方ボタンマウスオーバー */
.button_cls:hover {
	transition: .1s;
}

.support_title {
	font-weight: normal;
	line-height: 19px;
}

a.support_txt {
	text-decoration: none;
	font-weight: normal;
}

/* 色分け基本 */
.f_chuchoki_selected {
	background: #7030A0;
	color: #7030A0;
}

.f_koji_selected {
	background: #336;
	color: #333366;
}

.f_gyomu_selected {
	background: #930;
	color: #993300;
}

/* タイトル帯枠 */
.title_label, .title_label_region {
	height: 20px;
	border-radius: 8px 0 0 0;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 2px;
	vertical-align: middle;
	vertical-align: middle;
}

/* フッタ部分 */
.ppi_footer {
	font-family: Meiryo;
	font-size: 10px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	text-align: left;
}

/* 発注機関詳細フッタ部分 */
.ppi_hachu_footer {
	font-family: Meiryo;
	font-size: 10px;
	width: 100%;
	text-align: left;
}

/* 発注機関情報画面_過去掲載分ボタン */
#ibtKeisaiOld {
	border-radius: 14px;
	border: none;
	width: 130px;
	position: relative;
	bottom: 6px;
	border: solid 2px #00000000;
}

/* 地域TOPその他情報の○の位置 */
TD.mark {
	text-align: center;
}

/* 案件概要折り返し */
pre {
	white-space: break-spaces;
	overflow-wrap: anywhere;
	font-family: Meiryo;
}

/* 2024.07.01 印刷時ヘッダ処理追加 --START-- */
@media print{
	.print_header{
		z-index: -1!important;
	}
}
/* 2024.07.01 印刷時ヘッダ処理追加 --END-- */
