/* デフォルトCSS */


/* body 基本スタイル */
body {
	background-color: white;
}

a:link, a:visited, a:active {
	color: #336;
}

a:hover {
	color: crimson;
}

#header_div {
	background-color: #039;
}

/* タイトル */
#ppi_title {
	color: white;
}

/* タイトルサブ */
#ppi_sub {
	color: #ddf;
}

/* 地方ボタン */
.button_cls {
	background-color: #039;
	color: white;
}

/* 地方ボタンマウスオーバー */
.button_cls:hover {
		background-color: white;
		color: #003399;
	}

.support_title {
	color: white;
}

a.support_txt {
	color: white;
}

/* 色分け基本 */
.f_chuchoki {
	background: #99F;
}

.f_koji {
	background: #639ACE;
}

.f_gyomu {
	background: #F90;
}

.chuchoki_item {
	color: #99F;
}

.koji_item {
	color: #639ACE;
}

.gyomu_item {
	color: #F90;
}

.hachukikan_item {
	color: #319A9C;
}

/* タイトル帯枠 */
.title_label {
	color: white;
	background-color: lightseagreen;
}

.title_label_region {
	color: white;
	background-color: #3366CC;
}

/* フッタ部分 */
.ppi_footer,.ppi_hachu_footer {
	background-color: rgb( 0, 0,128);
	color: white;
}

/* ソートラベルのリンク無効化 */
th.nolink a {
	color: #FFFFFF;
}

/* 発注機関詳細画面 */
/* お知らせ */
#tdInformation {
	background: #efefef;
}

/* 過去掲載分ボタン */
#ibtKeisaiOld {
	background-color: lightseagreen;
	color: #FFFFFF;
}

#ibtKeisaiOld:hover {
	background-color: #FFFFFF;
	color: lightseagreen;
}

label.tabtext {
	color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}

input[type=submit].tab {
	color: #FFFFFF;
}

/* アイコンボタンのあるセルのスタイル */
td.koji {
	text-align: center;
	width: 440px;
	color: #639ACE;
}

td.gyomu {
	text-align: center;
	width: 440px;
	color: #FF9900;
}

td.hachu {
	text-align: center;
	width: 200px;
	color: #319A9C;
}

td.chuchoki {
	text-align: center;
	width: 200px;
	color: #9999FF;
}

.chuchokitab {
	background: #9999FF;
}

.selectchuchokitab {
	background: #7030A0;
}

.kojitab {
	background: #639ACE;
}

.selectkojitab {
	background: #333366;
}

.gyomutab {
	background: #FF9900;
}

.selectgyomutab {
	background: #993300;
}

.hachutab {
	background: #319A9C;
}

.selecthachutab {
	background: #1c5657;
}

#trNotes {
	color: red;
}

/* 罫線（斜線） */
.hr_slash {
	background-image: repeating-linear-gradient(45deg,lightseagreen 0, lightseagreen 1px, transparent 0, transparent 50%);
}
